/* carousel section here  */
.carousel-inner>.item{
    height: 70vh;
}
.textDisplay{
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}